.boardContainer {
    background-image: url('../images/bingo-background.jpg');
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding: 10px;
}
table#board {
    /*background-color: rgb(255, 255, 255);*/
	color: black; 
    font-size: 25px; 
    font-weight: bold;
	width: 100%; 
}
th span.ball {
    background-color: rgb(204, 204, 204);
    border: solid 3px #000;
    border-radius: 30px;
    display: block;
    height: 40px;
    margin: 2px;
    color: #000;
    cursor: default;
    font-weight: bold;
    text-align: center;
    width: 40px;
}
a.ball {
    border: solid 3px #c94c4c;
    border-radius: 25px;
    cursor: pointer;
    display: block;
    height: 40px;
    margin: 2px;
    text-align: center;
    width: 40px;
}
a.ball:hover {
    border-color: #c94c4c;
}
td a.ball.selected {
    background-color: #b1cbbb;
}
a.ball.selected:hover {
    border-color: #c94c4c;
}

#pattern {
	margin: 0px auto; 
    position: relative;
    width: 158px; 
}
#pattern div {
	border-radius: 5px; 
    border: 1px solid rgb(0, 0, 0); 
    border-image: none; 
    cursor: pointer;
    display: inline-block; 
    height: 30px; 
    position: relative; 
    width: 30px; 
}
#pattern div.free {
	background-color: black !important;
}
#pattern div.selected {
	background-color: #c94c4c;
}

.lastNumberContainer {
    border-radius: 5px; 
    border: 1px solid rgb(0, 0, 0); 
    border-image: none;
	padding: 10px; 
}
h1 {
	color: rgb(0, 0, 0); 
    font-size: 35px;
}
h2 {
	color: rgb(0, 0, 0); 
    font-size: 25px;
    text-decoration: underline;
}
.currentValue {
	color: red; 
    font-size: 130px; 
    font-weight: bold;
    line-height: 130px; 
}
.historyContainer {
    border: solid 1px #000;
    border-radius: 5px;
    padding: 10px;
}
.historyContainer ul {
    font-size: 36px;
    text-align: center;
}
.historyContainer .list-group-item {
    background-color: #deeaee;
    color: #000;
    padding: .25rem;
}
.winnerContainer {
    border: solid 1px #000;
    border-radius: 5px;
    padding: 10px;
}
.winnerContainer ul {
    font-size: 36px;
    text-align: center;
}
.winnerContainer .list-group-item {
    background-color: #deeaee;
    color: #000;
    padding: .25rem;
}
.autoCallerContainer {
    border: solid 1px #000;
    border-radius: 5px;
    padding: 10px;
}

#settingsContainer {
    border: solid 1px #000;
    border-radius: 5px;
    padding: 10px;
}

.margin-top-10 {
    margin-top: 10px;
}

@media screen and (min-width: 1215px) {
    .bingo-container {
        width: 85%;
    }
    th span.ball {
        height: 60px;
        width: 60px;
    }
    a.ball {
        border-radius: 33px;
        height: 60px;
        width: 60px;
    }
    table#board {
        font-size: 37px;
    }
}
