.bg-bingo {
    background: rgba(60,167,56,1);
    background: -moz-linear-gradient(left, rgba(60,167,56,1) 0%, rgba(141,236,68,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(60,167,56,1)), color-stop(100%, rgba(141,236,68,1)));
    background: -webkit-linear-gradient(left, rgba(60,167,56,1) 0%, rgba(141,236,68,1) 100%);
    background: -o-linear-gradient(left, rgba(60,167,56,1) 0%, rgba(141,236,68,1) 100%);
    background: -ms-linear-gradient(left, rgba(60,167,56,1) 0%, rgba(141,236,68,1) 100%);
    background: linear-gradient(to right, rgba(60,167,56,1) 0%, rgba(141,236,68,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ca738', endColorstr='#8dec44', GradientType=1 );
    color: #FFF;
}

/* all action buttons */
.btn-bingo {
    border-color: #55ba36;
    background-color: #279244;
    color: white;
}

/* B-I-N-G-O balls */
th span.ball {
    background-color: rgb(204, 204, 204);
    color: #000;
}

/* Number balls */
a.ball {
    border: solid 3px #3ca738;
}
a.ball:hover {
    border-color: #279244;
}
td a.ball.selected {
    background-color: #279244;
    color: white;
}
a.ball.selected:hover {
    border-color: #3ca738;
    color: white;
}

/* Individual 'pattern' boxes */
#pattern div {
    border: 1px solid rgb(0, 0, 0); 
}
#pattern div.free {
	background-color: black !important;
}
#pattern div.selected {
	background-color: #3ca738;
}

.lastNumberContainer {
    border: 1px solid rgb(0, 0, 0); 
}

/* Settings Title*/
h1 {
	color: rgb(0, 0, 0); font-size: 35px;
}

/* All sub-titles */
h2 {
	color: rgb(0, 0, 0); font-size: 25px;
}


.currentValue {
	color: red;
}

.historyContainer {
    border: solid 1px #000;
}
.historyContainer .list-group-item {
    background-color: #deeaee;
}
