/*
    Min Screen Width = 784
    
    Generator
    https://www.cssmatic.com/gradient-generator

    Palatte
    https://www.w3schools.com/colors/colors_palettes.asp
*/

body {
    font-family: "Times New Roman";
	padding: 3rem 20px; 
    min-width: 784px;
}

.bg-bingo {
    background: #b1cbbb; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #b1cbbb 0%, #fdffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #b1cbbb 0%,#fdffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #b1cbbb 0%,#fdffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1cbbb', endColorstr='#fdffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    
    -webkit-box-shadow: 0px 10px 21px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 21px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 21px -3px rgba(0,0,0,0.75);

    color: #000;
    padding-top: 0px;
    padding-bottom: 0px;
}
.bg-bingo .navbar-brand {
    font-size: 25px;
}

.btn-bingo {
    background-color: #c94c4c;
    border: solid 2px #eea29a;
    color: white;
}

.bingo-container {
    margin: 15px auto;
    width: 95%;
}

.navbar-nav a {
    cursor: pointer;
}
.navbar-nav .nav-link:hover {
    text-decoration: overline !important;
}
.navbar-nav .nav-link.active {
    text-decoration: underline !important;
}
